* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}
nav ul {
  display: flex;
  min-height: 10vh;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}

.hero {
  min-height: 90vh;
  background-image: url(./assests/lap2.jpg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* line-height: 1.5; */
}

.hero h2,
.hero button {
  margin-bottom: 16px;
}

.hero h2 {
  text-align: center;
}

.hero button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: whitesmoke;
  cursor: pointer;
}

.hero button:hover {
  background-color: black;
  color: whitesmoke;
}

img {
  height: 20rem;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.intro-img {
  flex: 1 1 20rem;
}

.intro {
  display: flex;
  flex-wrap: wrap;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1 1 20rem;
  background-color: beige;
  justify-content: center;
  padding: 0 4.8rem;
}

.text h2 {
  margin: 0 0.8rem;
  margin-bottom: ;
}

.text p {
  font-style: italic;
  line-height: 1.5rem;
  margin: 0.5rem;
}

.text button {
  margin-top: 0.8rem;
  align-self: flex-start;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: wheat;
  cursor: pointer;
}

.text button:hover {
  background-color: brown;
  color: white;
  font-weight: bold;
  padding: 0.8rem;
  transition: 0.3s;
  transition-duration: 0.5s;
}
