html {
  font-size: 62.5%;
}

button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 2.5rem;
  background: none;
  color: rgb(216, 13, 13);
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(71, 71, 53);
}
