/* html {
  font-size: 16px;
} */

/* em inherits values from all the parent values until base */
.text-section {
  font-size: 1.5em;
} /* 16*1.5 */

.text-section div {
  font-size: 1.5em;
  margin-top: 1em;
} /* 16 * 1.5 * 1.5 */

/* rem inherits only from the root parent */
/* we can keep the html font size as 62.5% and then 1rem equals 1pixel */

.second {
  font-size: 1.5rem;
}

.second div {
  font-size: 2rem;
  margin: 1rem;
}
